.card{
    display: flex;
    width: 65%;
    background-color: white;
    img{
        width: 30%;
    }
}

.about{
    padding-top: 5%;
    padding-left: 20px;
}

.title{
    font-weight: 100;
    font-size: 26px;
    color: red;
}

.achievment{
    padding-top: 4%;
    color:gray;
    font-size: 22px;
}

.btns{
    display: flex;
    gap:20px;
    margin-top: 40px;

}

.del{
    background-color: red;
    width: 120px;
    height: 5vh;
    border:1px solid red;
    border-radius: 10px;
    color:white;
    font-size: 20px;
}

.edit{
    background-color: red;
    width: 120px;
    height: 5vh;
    border:1px solid red;
    border-radius: 10px;
    color:white;
    font-size: 20px;

}

@media(max-width:576px){
    .card{
        width: 80%;
        height: 20vh;
        img{
           width: 45%;
        }
    }
    .title{
        font-size: 19px;
    }
    .achievment{
        font-size: 16px;
    }

    .btns{
        margin-top: 14px;
        
    }

    .del{
        width: 30%;
        height: 3vh;
        font-size: 15px;
    }

    .edit{
        width: 30%;
        height: 3vh;
        font-size: 15px;
    }
}