
  .guests {
    width: 100%;
    margin: auto;
    padding: 40px 20px;
    text-align: center;
    margin-top: 50px;
    
  }
  
  .guestlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
  }
  
  .guestcard {
    background: #fff;
    padding: 20px;
    width: 350px;
    height: 60vh;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
  
  .guestcard img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 30px;
  }
  
  .guestcard h3 {
    color: #a0a0a0;
    font-weight: 100;
    padding-top: 15px;
    font-size: 24px;
  }
  
  .guestcard p {
    font-size: 14px;
    color: #a0a0a0;
    padding-top: 10px;
    font-size: 21px;
    line-height: 26px;
    padding-top: 25px;
  }
  
  @media(max-width:576px){
    .guestcard{
      height: 40vh;
    }
  }